@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --copa-green: #006600;
  --copa-yellow: #FFD700;
  --copa-dark: #004400;
}

body {
  background-color: #f0f7f0;
}

/* Esconde a barra de rolagem horizontal do menu no mobile, mantendo o scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
